@inherits LayoutComponentBase

<div class="min-vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="card shadow" style="max-width:420px; width:100%;">
        <div class="card-body p-4">
            @Body
        </div>
    </div>
</div>

@code {
    
}